<div id="help" class="modal hide fade" tabindex="-1" role="dialog">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">HELP!</h3>
  </div>
  <div class="modal-body">
    <h3>Keyboard Shortcuts </h3>
    <p> Alt + <i class="icon-long-arrow-down"></i> - Swap current line with the one below </p>
    <p> Alt + <i class="icon-long-arrow-up"></i> - Swap current line with the one above </p>
    <p> Ctrl + D - Delete current line </p>
    <p> Ctrl + F - Search, press twice for search and replace (editor must be on focus) </p>
    <p> Ctrl + L - Jump to specified line </p>
    <p> Ctrl + Y - Redo last action </p>
    <p> Ctrl + Z - Undo last action </p>
    <p id="secret"> Konami code - ;)</p>


    <h3> Useful Links </h3>
    <p> Latex reference: <a href="http://en.wikibooks.org/wiki/LaTeX/"> http://en.wikibooks.org/wiki/LaTeX/ </a> </p>
    
    <p> Project source on Github: <a href="http://github.com/almir-sne/Candytex">http://github.com/almir-sne/Candytex</a></p>
    

  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>
