<div id="help" class="modal hide fade" tabindex="-1" role="dialog">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">HELP!</h3>
  </div>
  <div class="modal-body">
    <h3>Keyboard Shortcuts </h3>
    <p> Alt + <i class="icon-long-arrow-down"></i> - Swap current line with the one below </p>
    <p> Alt + <i class="icon-long-arrow-up"></i> - Swap current line with the one above </p>
    <p> Ctrl + D - Delete current line </p>
    <p> Ctrl + F - Search, press twice for search and replace (editor must be on focus) </p>
    <p> Ctrl + L - Jump to specified line </p>
    <p> Ctrl + Y - Redo last action </p>
    <p> Ctrl + Z - Undo last action </p>
    <p id="secret"> Konami code - ;)</p>


    <h3> Useful Links </h3>
    <p> Latex reference: <a href="http://en.wikibooks.org/wiki/LaTeX/"> http://en.wikibooks.org/wiki/LaTeX/ </a> </p>
    
    <p> Project source on Github: <a href="http://github.com/almir-sne/Candytex">http://github.com/almir-sne/Candytex</a></p>
    

    <h3> Special Thanks </h3>
    <p> This software uses resources from the following sources: </p>
    <ul>
      <li> <a href="https://github.com/jacott/rails-latex"> Rails-latex gem </a> -
        code for forking, system calls and dealing with the latex compilers </li>
      <li> <a href="https://developers.google.com/drive"> Google Developers </a> - Google API Reference Guide </li>
      <li> <a href="http://www.w3schools.com/"> W3Schools </a> - HTML5 and JavaScript tutorials </li>
      <li> <a href="http://www.ajaxload.info/"> Ajaxload </a> - Gif animation </li>
      <li> <a href="http://en.wikibooks.org/wiki/LaTeX/"> LaTeX Wikibook </a> - 
        Most of the templates were based on examples found here </li>
      <li> <a href="http://ace.c9.io/"> Ace Editor </a> - Used for creating the editor </li>
      <li> <a href="https://github.com/ffloyd/aced_rails"> Aced Rails </a> -
        Makes Ruby on Rail and Ace Editor integration easy </li>
      <li> <a href="http://getbootstrap.com/2.3.2/"> Twitter Bootstrap </a> - For the layout </li>
      <li> <a href="http://fortawesome.github.io/Font-Awesome/"> Font Awesome</a> - Gorgeous icons!</li>
    </ul>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>
