<div id="messages" class="modal hide fade" tabindex="-1" role="dialog">
  <div class="modal-body">
    <div id="downloading"> Loading file... </div>
    <div id="download-error"> Error loading file! </div>
    <div id="unsupported-error"> Unsupported file format! </div>
    <div id="uploading"> Uploading file... </div>
    <div id="upload-result">  </div>
    <div id="compiling"> Please wait <br/> Download will start when your file finishes compiling. </div>
    <div id="compile-result"> Ok</div>
    <img alt="Loading..." id="modal-spinner" src="/ajax-loader.gif"></img>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>