<div id="toolbar" class="toolbar btn-toolbar">
  <div class="btn-group">
    <%= select_tag :themes, options_for_select([:chaos, :cobalt, :dawn, :eclipse, :merbivore, :mono_industrial, :monokai,
    :pastel_on_dark, :solarized_dark, :textmate, :tomorrow, :tomorrow_night, :tomorrow_night_blue,
    :tomorrow_night_bright, :twilight, :xcode], :eclipse), :onchange => "switchtheme(this)", :style => "width: 180px" %>
    
    <%= select_tag :fonts, options_for_select(['Font size', :tiny, :scriptsize, :footnotesize, :small, :normalsize, :large, :Large, :LARGE,
        :huge, :Huge]), :onchange => "latexfont(this)", :style => "width: 118px; margin-left: 6px;" %>
  </div>

  <br/>
  <div class="btn-group">
    <button class="btn" onclick="italic()" title="Italic"> <i class="icon-italic"> </i> </button>
    <button class="btn" onclick="bold()" title="Bold"> <i class="icon-bold"> </i> </button>
    <button class="btn" onclick="superscript()" title="Superscript"> <i class="icon-superscript"> </i></button>
    <button class="btn" onclick="subscript()" title="Subscript"> <i class="icon-subscript"> </i></button>
    <button class="btn" onclick="underline()" title="Underline"> <i class="icon-underline"> </i></button>
  </div>

  <div class="btn-group">
    <button class="btn" onclick="alignleft()" title="Align left"> <i class="icon-align-left"> </i></button>
    <button class="btn" onclick="alignright()" title="Align right"> <i class="icon-align-right"> </i></button>
    <button class="btn" onclick="aligncenter()" title="Align center"> <i class="icon-align-center"> </i></button>
  </div>

  <div class="btn-group">
    <button class="btn" onclick="list()" title="Create list"> <i class="icon-list"> </i></button>
    <button class="btn" onclick="table()" title="Create table"> <i class="icon-table"> </i></button>
    <button class="btn" onclick="columns()" title="Create columns"> <i class="icon-columns"> </i></button>
  </div>

  <div class="btn-group">
    <button class="btn" onclick="fontplus()" title="Bigger font"> <i class="icon-zoom-in"> </i></button>
    <button class="btn" onclick="fontminus()" title="Smaller font"> <i class="icon-zoom-out"> </i></button>
  </div>

  <div class="btn-group">
    <input type="file" id="file-handler" name="file" style="display: none"/>
    <button class="btn" onclick="openfromdisk()" title="Open file from disk"> <i class="icon-folder-open"> </i></button>
    <button class="btn" onclick="cleareditor()" title="Clear editor"> <i class="icon-trash"> </i></button>
  </div>

  <div class="btn-group">
    <a href="#help" role="button" class="btn" data-toggle="modal"><i class="icon-exclamation-sign"> </i> </a>
  </div>
</div>

